<h1>Welcome to Xenca Enerjii</h1>
<h2>Combining natural energies with stylish jewlery to make you look and feel the best!</h2>


<%= image_tag("Black sportii.jpg", class: "img-responsive black-sporti") %>