// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    margin-top: 5em;
}
h1 {
    color: blue;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
}

footer {
    height: auto;
}